// Typography
$title_font: 'Fredericka the Great', cursive;
$header_font: 'Aclonica', sans-serif;
$tool_font: 'Indie Flower', cursive;
$body_font: 'Lora', serif;

// Colors
$white: #ffffff;
$black: #000000;
$light-grey: #d1d1d1;
$grey: #a0a0a0;
$dark-grey: #4b4b4b;